src/test/java/com/example/springserviceclient/service/student.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.3 git-revision#b4c5bb6. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.springservice.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.springservice.example.com/" name="StudentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.springservice.example.com/" schemaLocation="http://localhost:8088/ws/student?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="all">
<part name="parameters" element="tns:all"/>
</message>
<message name="allResponse">
<part name="parameters" element="tns:allResponse"/>
</message>
<message name="findById">
<part name="parameters" element="tns:findById"/>
</message>
<message name="findByIdResponse">
<part name="parameters" element="tns:findByIdResponse"/>
</message>
<portType name="StudentService">
<operation name="update">
<input wsam:Action="http://service.springservice.example.com/StudentService/updateRequest" message="tns:update"/>
<output wsam:Action="http://service.springservice.example.com/StudentService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://service.springservice.example.com/StudentService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://service.springservice.example.com/StudentService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="save">
<input wsam:Action="http://service.springservice.example.com/StudentService/saveRequest" message="tns:save"/>
<output wsam:Action="http://service.springservice.example.com/StudentService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="all">
<input wsam:Action="http://service.springservice.example.com/StudentService/allRequest" message="tns:all"/>
<output wsam:Action="http://service.springservice.example.com/StudentService/allResponse" message="tns:allResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://service.springservice.example.com/StudentService/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://service.springservice.example.com/StudentService/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
</portType>
<binding name="StudentServicePortBinding" type="tns:StudentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="all">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentServiceService">
<port name="StudentServicePort" binding="tns:StudentServicePortBinding">
<soap:address location="http://localhost:8088/ws/student"/>
</port>
</service>
</definitions>